*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    background-image: linear-gradient(rgb(0,0,0,0.7),rgb(0,0,0,0.7)),url(../img/242213976_1465445180501957_6676901924019903320_n.jpg)!important;
    background-position: center center!important;
    background-size: cover!important;
    background-repeat: no-repeat!important;
    background-attachment: fixed!important;
}
.container{
    width: 100%;
    height: 100vh;
    padding-left: 4%;
    padding-right: 4%;
    box-sizing: border-box;
}
.navbar {
    height: 12%;
    display: flex;
    align-items: center;
}
.logo{
    width: 50px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 50px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
.nav-link:hover{
    text-decoration: underline;
}
.map{
    position: sticky;
    text-align: right;
    top: 25%;
}
.content{
    position: absolute;
    text-align: left;
    top: 25%;
}
h1,h2,h3{
    color: #fff;
    font-size: 34px;
}
p,ul a{
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    text-shadow: 1px 1px 1px black;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
