* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.container {
  padding: 30px 5%;
}
.heading-text {
  margin-bottom: 2rem;
  font-size: 2rem;
  text-align: center;
}
.heading-text span {
  font-weight: 100;
}
ul {
  list-style: none;
}
.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}
.image-gallery li {
  flex-basis: 350px;
  position: relative;
  cursor: pointer;
}
.image-gallery::after {
  content: "";
  flex-basis: 350px;
}
.image-gallery li img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-radius: 5px;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(57, 57, 57, 0.502);
  top: 0;
  left: 0;
  transform: scale(0);
  transition: all 0.2s 0.1s ease-in-out;
  color: #fff;
  border-radius: 5px;
 /* Center Overlay Text */
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Overlay Hover */
.image-gallery li:hover .overlay {
  transform: scale(1);
}