*{
     margin: 0;
     padding: 0;
     font-family: 'Roboto', sans-serif;
}
body{
     background-image: linear-gradient(rgb(0,0,0,0.7),rgb(0,0,0,0.7)),url(../img/242213976_1465445180501957_6676901924019903320_n.jpg)!important;
     background-position: center center!important;
     background-size: cover!important;
     background-repeat: no-repeat!important;
     background-attachment: fixed!important;
 }
 .container{
     width: 100%;
     height: 100vh;
     padding-left: 4%;
     padding-right: 4%;
     box-sizing: border-box;
}
 .navbar {
     height: 12%;
     display: flex;
     align-items: center;
}
 .logo{
     width: 50px;
}
 nav{
     flex: 1;
     text-align: right;
}
 nav ul li{
     list-style: none;
     display: inline-block;
     margin-left: 50px;
}
 nav ul li a{
     text-decoration: none;
     color: #fff;
     font-size: 20px;
}
.nav-link:hover{
     text-decoration: underline;
}
 .row{
     display: flex;
     height: 88%;
     align-items: center;
}
 .col{
     flex-basis: 50%;
}
 h1{
     color: #fff;
     font-size: 90px;
}
 p{
     color: #fff;
     font-size: 22px;
     text-shadow: 1px 1px 1px #000000;
}
 button{
     width: 120px;
     color: #000;
     font-size: 15px;
     padding: 12px 0;
     background: #fff;
     border: 0;
     border-radius: 25px;
     outline: none;
     margin-top: 30px;
}
 button a{
     text-decoration: none;
     color: #000000;
}
 .card{
     width: 215px;
     height: 235px;
     display: inline-block;
     border-radius: 10px;
     padding: 15px 20px;
     box-sizing: border-box;
     margin: 10px 10px;
     background-position: center;
     background-size: cover;
     transition: transform 0.2s;
}
.card-link{
text-decoration: none;
}
 .card1{
     background-image: url(../img/242798930_293959438778719_596184943903340707_n.jpg);
}
 .card2{
     background-image: url(../img/242472784_573580530746518_7001989973908534537_n.jpg);
}
 .card3{
     background-image: url(../img/260521283_4833947196650476_807363168975140527_n.jpg);
}
 .card4{
     background-image: url(../img/273447012_5099301376781722_6261854731044602375_n.jpg);
}
 .card:hover{
     transform: translateX(-6px) translateY(-6px) translateZ(-6px);
}
 h5{
     font-size: 14px;
     color: #fff;
     text-shadow: 1px 1px 1px #000000;
}
 .card p{
     text-shadow: 1px 1px 1px #000000;
     font-size: 12px;
}
