*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    background-image: linear-gradient(rgb(0,0,0,0.7),rgb(0,0,0,0.7)),url(../img/242213976_1465445180501957_6676901924019903320_n.jpg)!important;
    background-position: center center!important;
    background-size: cover!important;
    background-repeat: no-repeat!important;
    background-attachment: fixed!important;
}
.teammate{
    border-color: #ebebeb;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-image-slice: initial;
    border-image-source: initial;
    border-image-width: initial;
    border-radius: 100%;
    border-style: solid;
    border-width: 3px;
    display: inline-flex;
    margin: 2px;
    width: 190px;
}
.container{
    width: 100%;
    height: 100vh;
    padding-left: 4%;
    padding-right: 4%;
    box-sizing: border-box;
}
.content{
    position: relative;
    text-align: center;
    top: 20%;
}
.navbar {
    height: 12%;
    display: flex;
    align-items: center;
}
.logo{
    width: 50px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 50px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
.nav-link:hover{
    text-decoration: underline;
}
h1,h2{
    color: #fff;
    font-size: 50px;
}
